.header {
    background-image: url(/images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    width: 1900px;
    height: 1000px;
    padding: 40px;

}

.header-title {
    padding-top: 300px;
    padding-right: 200px;
    align-items: right;
    text-align: right;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}

.header-description {
    align-items: right;
    text-align: right;
    padding-right: 200px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    align-items: right;
    text-align: right;
    float: right;
    margin-right: 200px;
    color: #005FAC;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
}

/* main section work */
.main {
    width: 100%;
    padding: 100px 0px;
}



.main-text {
    width: 550px;
    margin-left: 100px;
}

.body {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #aed1ee;
}

.body-heading {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.body-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.body-list {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.about {}

.title h3 {
    text-align: center;
    margin-top: 200px;
    font-weight: 700;
    font-size: 50px;
    color: #151414;

}

.about-planning-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 88px;
    margin-top: 50px;
}

.info-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.info-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.contact-me {
    align-items: center;
    text-align: justify;
    margin-top: 200px;
    margin-left: 380px;
    background-image: url(/images/gradient1.png), url(/images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
}

.watch-title {
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.btn-two {
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 100px;
}

/* footer work */
.footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #151414;
    display: flex;
    margin: 0;
    padding: 30px;
    justify-content: space-evenly;
    margin-top: 200px;
}

.footer-mar {
    margin-top: 50px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-email {

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.footer-number {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.btn-three{
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;

}