.banner {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.banner-text {
    background-image: url(/images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    margin: 0;
    padding: 10px;




}

.banner-title {
    text-align: right;
    padding-right: 100px;
    margin-top: 216px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;

}